{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "at-rule-blacklist": null,
    "max-nesting-depth": 3,
    "number-leading-zero": "never",
    "order/properties-alphabetical-order": null
  }
}
