// crayon box
$mine_shaft: #222;
$emperor: #4a4a4a;
$alto: #d9d9d9;
$pure_white: #fff;
$kashmir_blue: #4c669a;
$breaker_bay: #4c9a8d;
$persian_red: #cc3333;
$zest: #dc7a18;
$chateau_green: #45a154;

// theme colors
$primary: $breaker_bay;
$secondary: $kashmir_blue;
$dark: $mine_shaft;
$dark--light: $emperor;
$light: $pure_white;
$light--dark: $alto;
$alert: $persian_red;
$warning: $zest;
$success: $chateau_green;
$info: $kashmir_blue;

// other
$color-step--100: 10%;

// hover
@function hover-color($color, $color-step: $color-step--100) {
  @return darken($color, $color-step);
}
