@import "../../sass/variables/colors";

$base_path: '../../../fonts';

@font-face {
  font-family: 'Libre Baskerville';
  src: url('#{$base_path}/librebaskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('#{$base_path}/opensans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('#{$base_path}/opensans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url('#{$base_path}/opensans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 600;
}
