// crayon box
$mine_shaft: #222;
$emperor: #4a4a4a;
$pure_white: #fff;
$affair: #8a4c99;
$kashmir_blue: #495f8c;
$persian_red: #cc3333;
$copper: #cc7233;
$shamrock: #33CC80;

// theme colors
$primary: $affair;
$secondary: $kashmir_blue;
$dark: $mine_shaft;
$dark--light: $emperor;
$light: $pure_white;
$alert: $persian_red;
$warning: $copper;
$success: $shamrock;
