@import "../../../sass/variables/colors";
@import "../../../sass/mixins/fonts";

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'alert': $alert,
  'warning': $warning,
  'success': $success,
  'info': $info
);

@mixin button-colors(
  $name: 'default', // don't use default value
  $button-color: null,
  $text-color: $light
) {
  $this: &;

  &--#{$name} {
    background: $button-color;
    color: $text-color;

    &:hover {
      background: hover-color($button-color);
    }

    &#{$this}--ghost {
      background: transparent;
      color: $button-color;
      border-color: $button-color;

      &:hover {
        background: hover-color($button-color);
        color: $text-color;
        border-color: transparent;
      }
    }
  }
}

.Button {
  @include text-body();
  background: $light--dark;
  color: $dark;
  padding: .75rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: background .2s ease-in,
    border-color .2s ease-in,
    top .2s ease-in;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;

  &:hover {
    background: hover-color($light--dark);
  }

  &:active {
    top: 2px;
  }

  @each $color-name, $color in $colors {
    @include button-colors($color-name, $color);
  }

  &--fullWidth {
    width: 100%;
    display: block;
  }

  &--small {
    padding: .4rem 1rem;
  }

  &--large {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
}
