@import "../../../sass/variables/colors";
@import "../../../sass/mixins/fonts";

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'alert': $alert,
  'warning': $warning,
  'success': $success,
  'info': $info
);

@mixin button-colors(
  $button-color: null,
  $text-color: $light
) {
  background: $button-color;
  color: $text-color;

  &:hover {
    background: darken($button-color, 10%);
  }
}

.Button {
  @include text-body();
  background: $light--dark;
  color: $dark;
  padding: .75rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background .2s ease-in,
    top .2s ease-in;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;

  // temp
  margin: 20px;

  &:hover {
    background: darken($light--dark, 10%);
  }

  &:active {
    top: 2px;
  }

  @each $color-name, $color in $colors {
    &--#{$color-name} {
      @include button-colors($color);
    }
  }
}
